Package: fcgid
Priority: optional
Section: httpd
Installed-Size: 
Maintainer: Andras Hrubak <andreas@uucp.hu>
Architecture: all
Version: 
Depends: perl, bsdutils, libprocess-initgroups-perl
Recommends: 
Suggests: markdown
Provides: fastcgi
Source: 
Description: Fast CGI suid runner.
